<!DOCTYPE html>
<html ng-app="stats">
  <head>
    <title>Lenses</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="css/pnotify.custom.min.css" rel="stylesheet">
  </head>
  <body ng-controller="StatsController as stats">

    <!-- navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Lenses
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-expanded="false">
                Settings <span class="caret"></span>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" data-target="#snapshotIntervalForm" data-toggle="modal">Snapshot Interval</a></li>
                </ul>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- snapshotIntervalForm modal -->
    <div class="modal fade" id="snapshotIntervalForm" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         ng-controller="SnapshotIntervalController as interval">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only" ng-click="clearForm()">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Snapshot Interval</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="intervalGroup">
              <label for="interval" class="control-label">Interval (in seconds):</label>
              <input type="text" class="form-control" id="interval" required ng-model="interval"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearForm()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="setInterval(interval)">Set</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content grid -->
    <!-- <div class="container">-->
      <div class="row">

        <!-- Schedulers utilisation -->
        <div class="col-lg-4">
          <!-- Graph -->
          <div class="col-lg-8" style="padding-right: 0px !important">
            <canvas id="schdsUtilChart" style="width: 100% !important;"></canvas>
          </div>
          <!-- Legend -->
          <div class="col-lg-4" style="padding-left: 0px !important">
            <div id="schdsUtilLegend"></div>
          </div>
        </div>

        <!-- Memory utilisation -->
        <div class="col-lg-4">
          <div class="col-lg-12">
            <canvas id="memUtilChart" style="width: 100% !important;"></canvas>
            <div id="memUtilLegend"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="panel-body">
            <!-- Processes table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th ng-repeat="h in head" ng-click="sortTable(h[0])">
                    <span ng-show="(sort.column == h[0]) && sort.descending"
                          class="glyphicon glyphicon-chevron-down" aria-hidden="true"
                          style="margin-right:3px">
                    </span>
                    <span ng-show="(sort.column == h[0]) && !sort.descending"
                          class="glyphicon glyphicon-chevron-up" aria-hidden="true"
                          style="margin-right:3px">
                    </span>
                    <span ng-show="(sort.column != h[0])"
                          class="glyphicon glyphicon-minus" aria-hidden="true"
                          style="margin-right:3px">
                    </span>
                    {{h[1]}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="process in processes|orderBy:sort.column:sort.descending">
                  <td>
                    <a href=""
                       data-target="#processTerminationModal"
                       data-toggle="modal"
                       ng-click="prekill(process.pid)">
                      <!--ng-click="kill(process.pid)">-->
                      <span class="glyphicon glyphicon-trash"
                            aria-hidden="true">
                    </a>
                  </td>
                  <td>{{ process.pid }}</td>
                  <td>{{ process.registered_name }}</td>
                  <td>{{ process.message_queue_length }}</td>
                  <td>{{ process.memory }} </td>
                  <td>{{ process.reductions }}</td>
                  <td>{{ process.first_seen }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <!--</div>-->

    <!-- Confirm process termination -->
    <div class="modal fade" id="processTerminationModal" tabindex="-1" role="dialog"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Kill this process?</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to kill {{foo}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-danger"
                    data-dismiss="modal"
                    ng-click="kill(foo)">
              Kill!
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- ChartJS -->
    <script src="js/Chart.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- Angular App -->
    <script type="text/javascript" src="app/app.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="js/pnotify.custom.min.js"></script>
  </body>
</html>
